* {
    font-family: 'Seravek', sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.server-card.hidden {
    display: none !important;
}

.hidden {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
}

#history-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.show {
    opacity: 1;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-screen span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    margin-top: -25px;
    background: linear-gradient(180deg, rgb(255, 253, 0), rgb(255, 184, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wallet-address-title, .wallet-address, .web-app-version {
    font-size: 14px;
    font-weight: bold;
}

.wallet-container {
    width: 92%;
    max-width: 700px;
    padding: 15px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 9px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    z-index: 10;
    position: relative;
}

.wallet-info {
    text-align: center;
}

.wallet-address-title {
    font-weight: bold;
}

.wallet-address {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.popup-refresh {
    display: none;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 300px;
    background: linear-gradient(
            90deg,
            rgba(255, 215, 0, 1) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgb(250, 249, 210) 100%
    );
    position: relative;
    z-index: 0;
    margin-bottom: -75px;
}

#header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
    z-index: 1;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 100px;
    z-index: 100;
}

.info-panel {
    position: relative;
    background: linear-gradient(
            90deg,
            rgba(255, 215, 0, 1) 0%,
            rgba(255, 253, 150, 1) 100%
    );
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 45%;
    height: 60px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 14px;
    margin: 0 5px;

}

.child-panel {
    position: absolute;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    width: 80%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 20px;
    z-index: -1;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    text-align: center;
    margin-top: -30px;
    padding: 0 20px;
    background: white;
    width: 100%;
}

#top-popups, #bottom-popups {
    position: relative;
    height: 75px;
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    z-index: 1;
    margin-top: -20px;
}

.dynamic-popup {
    background: linear-gradient(180deg, rgba(255, 253, 0, 0.6), rgba(255, 184, 0, 1));
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    transform: scale(0);
    transition: transform 0.3s ease;
    position: absolute;
    display: block;
}

.dynamic-popup.hide {
    transform: scale(0);
}

.dynamic-popup.shake {
    animation: shake 0.2s ease;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.mining-content {
    margin: -50px;
    display: flex;
    justify-content: center;
}

.progress-container {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.progress-header {
    background: linear-gradient(90deg, rgba(255, 215, 0, 1), rgba(255, 253, 150, 1));
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

#dots {
    display: inline-block;
    width: .25em;
    text-align: left;
}

.progress-body {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    position: relative;
}

.progress-background {
    background: linear-gradient(90deg, #e0e0e0, #f9f9f9);
    border-radius: 10px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 215, 0, 1), rgba(255, 184, 0, 1));
    width: 0%;
    transition: width 0.5s ease;
    border-radius: 10px;
}

.history-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 215, 0, 1), rgba(255, 253, 150, 1));
    padding: 10px 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 5px;
    margin-bottom: 10px;
}

.history-icon {
    width: 25px;
    height: 25px;

}

.back-button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    animation: move-left 1.5s infinite ease-in-out;
}

.back-arrow-icon {
    width: 16px;
    height: 24px;
}

.back-button-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.title {
    font-size: 16px;
    margin-top: 7px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.history-title {
    font-size: 24px;
    margin-top: 65px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.history-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background: linear-gradient(
            90deg,
            rgba(255, 215, 0, 1) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgb(250, 249, 210) 100%
    );
    position: relative;
    z-index: 1;
    padding: 20px;
}

.history-page::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
    z-index: 1;
}

.history-body {
    width: 100%;
    z-index: 2;
    position: relative;
}

.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 3;
    position: relative;
}

.history-item-icon {
    width: 40px;
    height: 40px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.history-item-text {
    flex: 1;
    margin: 0 15px;
    font-size: 14px;
    color: rgba(102, 102, 102, 0.75);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.history-item-time {
    font-size: 14px;
    color: #666;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: right;
}

.history-item-time .time {
    font-size: 14px;
    margin-bottom: 2px;
    color: #333;
}

.history-item-time .date {
    font-size: 14px;
    color: #777;
}

.no-data {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgba(150, 150, 150, 0.8);
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.server-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 25px 0;
}

.server-image {
    position: absolute;
    transform: translateY(-10%);
    z-index: 2;
}

.server-image img {
    width: 75px;
    height: auto;
}

.server-details {
    flex-grow: 1;
    text-align: center;
    color: #555;
    font-size: 14px;
    margin: 0 20px;
    word-wrap: break-word;
}

.server-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    margin-left: 75px;
}

.server-touch-icon {
    width: 20px;
    height: 20px;
    margin-left: 75px;

}

.server-stats {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stat {
    background: linear-gradient(90deg, #fdf177, #fcd32d);
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat span.value {
    margin-left: 10px;
}


.container.my-servers-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    overflow: visible;
}

.container.my-servers-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, #ffdf00 0%, #fff 50%, #faf9d2 100%);
    z-index: 1;
    pointer-events: none;
}

.container.my-servers-page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    z-index: 2;
    pointer-events: none;
}

.my-servers-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-top: 60px;
    position: relative;
    z-index: 3;
}

.dashboard-my-server {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.dashboard-stats div {
    margin-bottom: 15px;
}

.dashboard-stats span {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.total-power-progress-bar,
.total-hashrate-progress-bar,
.total-btc-mine-progress-bar,
.total-workload-progress-bar {
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 5px;
}

.total-power-progress,
.total-hashrate-progress,
.total-btc-mine-progress,
.total-workload-progress {
    height: 100%;
    border-radius: 4px;
}

.total-power-progress {
    background-color: #4caf50;
    width: 70%;
}

.total-hashrate-progress {
    background-color: #2196f3;
    width: 70%;
}

.total-workload-progress {
    background-color: #ff9800;
    width: 50%;
}

.total-btc-mine-progress {
    background-color: #ffeb3b;
    width: 50%;
}

.my-servers-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    justify-items: center;
    position: relative;
    z-index: 3;
}

.my-server-card {
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(255, 206, 0, 0.64);
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    cursor: pointer;
}


/* Иконка и название */
.server-icon-and-name {
    text-align: center;
    margin-top: 20px;
}

.server-icon {
    width: 80px;
    height: auto;
}

.server-name {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
}

.server-flag {
    margin-left: 5px;
}

/* Статистика сервера */
.server-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Стиль для статов */
.power-stat-container,
.gpu-stat-container,
.gpu-name-stat-container,
.ram-stat-container,
.price-stat-container,
.status-stat-container,
.country-stat-container,
.ram-stat-container {
    background: #ffeb3b;
    padding: 10px 10px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.hashrate-stat-container,
.availability-stat-container,
.gpu-count-stat-container,
.btc-mine-stat-container {
    padding: 0 10px;
}

.power-stat-name,
.hashrate-stat-name,
.status-stat-name,
.gpu-stat-name,
.gpu-count-stat-name,
.btc-mine-stat-name,
.gpu-name-stat-name,
.ram-stat-name,
.price-stat-name,
.country-stat-name,
.availability-stat-name {
    font-weight: bold;
    color: #333;
}

.power-stat-value,
.hashrate-stat-value,
.status-stat-value {
    color: #555;
}

.power-progress-bar,
.hashrate-progress-bar,
.status-progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 5px;
    overflow: hidden;
}

.power-progress,
.power-details-progress {
    height: 100%;
    background-color: #8bc34a; /* Зелёный */
}

.hashrate-progress,
.hashrate-details-progress {
    height: 100%;
    background-color: #ff9800; /* Оранжевый */
}

.status-progress,
.ram-details-progress {
    height: 100%;
    background-color: #2196f3; /* Синий */
}

.server-shop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #ffeb3b, #fbc02d);
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    z-index: 3;
}

.no-servers {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.22), rgba(108, 108, 108, 0.65));
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    z-index: 3;
}

.hidden {
    display: none;
}

.server-shop-icon {
    width: 25px;
    height: 25px;
}

.container.servers-shop {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    overflow: auto;
}

.container.servers-shop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, #ffdf00 0%, #fff 50%, #faf9d2 100%);
    z-index: 0;
    pointer-events: none;
}

.container.servers-shop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    z-index: 1;
    pointer-events: none;
}

/* Заголовок */
.servers-shop-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-top: 60px;
    z-index: 2;
}

/* Список серверов */
.servers-shop-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    justify-items: center;
    position: relative;
    z-index: 2;
}

.shop-server-card {
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(255, 206, 0, 0.64);
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}

.buy-new-server-button {
    background: linear-gradient(90deg, #ffeb3b, #fbc02d);
    padding: 5px 20px 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 3;
    justify-content: center;
}

.buy-server-icon {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
}

.sold-out-button {
    background: linear-gradient(45deg, #d3d3d3, #a9a9a9);
    color: #ffffff;
    cursor: not-allowed;
    padding: 5px 15px 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 3;
    justify-content: center;
}

.server-window-details-wrapper.hidden {
    display: none;
}

.server-window-details-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.server-window-details {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 97, 97, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

}

.server-window-details-inner {
    width: 400px;
    max-width: 90%;
    min-width: 30%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10000;
}

#close-server-details {
    position: absolute;
    top: 20px;
    left: 25px;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Заголовок сервера */
.server-details-header {
    text-align: center;
    padding: 0 50px;
}

.server-details-stats .stat-details:nth-child(even) {
    background: #ffeb3b; /* Жёлтый фон */
}

.server-details-header .server-details-icon {
    width: 90px;
    height: 140px;
    display: block;
    margin: 0 auto;
}

.server-details-header .server-details-name {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.server-details-stats {
    background: #f7f7f7;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stat-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.stat-details-title {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 10px;
}

.stat-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.stat-details-value {
    font-size: 0.9rem;
    color: #333;
    text-align: right;
}

.progress-bar-wrapper {
    width: 100%;
}

.flag-icon {
    width: 20px;
    height: 15px;
    border-radius: 2px;
}

.progress-bar-wrapper .power-details-progress-bar,
.progress-bar-wrapper .hashrate-details-progress-bar,
.progress-bar-wrapper .ram-details-progress-bar {
    overflow: clip;
}

.power-details-progress-bar,
.hashrate-details-progress-bar,
.ram-details-progress-bar {
    width: 100%;
    height: 10px;
}

.power-details-progress,
.hashrate-details-progress,
.ram-details-progress {
    height: 100%;
}

.back-details-arrow-icon {
    width: 16px;
    height: 24px;
    color: white;
}

.back-details-button-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.back-details-button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;

    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    animation: move-left 1.5s infinite ease-in-out;
}

.server-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.server-touch-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.server-card-header {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
}

.server-index {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.server-flag {
    width: 20px;
    height: 15px;
    border-radius: 2px;
    object-fit: cover;
}